@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.sp-wrapper .sp-preview,
.sp-wrapper .sp-editor {
  min-height: 80vh;
}

/* home banner css start */
.home_banner .robot .personal-assistant {
  position: relative;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.home_banner .robot .felix {
  position: absolute;
  bottom: 50px;
  width: 110px;
  height: 95px;
  border-radius: 45%;
  border: 3px solid #fff;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  animation: breathe-and-jump 3s linear infinite;
  cursor: pointer;
  z-index: 1;
}
.home_banner .robot .felix::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 3px);
  height: calc(100% + 2px);
  background-color: #18c;
  background: linear-gradient(to bottom, #5fc, #1a8);
  background: -webkit-linear-gradient(to bottom, #5cf, #18c);
  border-radius: 45%;
  opacity: 0;
  transition: 0.3s linear all;
}
.home_banner .robot .felix > .eyes {
  position: relative;
}
.home_banner .robot .felix > .eyes > .eye {
  position: absolute;
  top: 20px;
  width: 20px;
  height: 25px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
  animation: blink 5s linear infinite;
}
.home_banner .robot .felix > .eyes > .eye.left {
  left: 25%;
}
.home_banner .robot .felix > .eyes > .eye.right {
  right: 25%;
}
.home_banner .robot .platform {
  transform: rotateX(70deg);
  width: 100px;
  height: 100px;
  box-shadow: 0 0 100px #fff, 0 0 15px #fff inset;
  animation: jump-pulse 3s linear infinite;
}
.home_banner .robot .platform,
.home_banner .robot .command-list > li::before {
  border-radius: 50%;
  transition: 0.2s linear all;
}
.home_banner .robot .command-list > li::before {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 50%;
  width: 65px;
  height: 65px;
  transform: translate(-50%) rotateX(70deg);
  box-shadow: 0 0 50px #fff, 0 0 15px #fff inset;
}
.home_banner .robot .felix:not(.active):hover {
  animation: shake-to-alert 0.5s linear;
  height: 105px;
  transform: translateY(-4px);
}
.home_banner .robot .felix:not(.active):hover,
.home_banner .robot .felix:not(.active):hover > .eyes > .eye {
  border-color: #fc5;
  box-shadow: 0 0 5px #fc5;
}
.home_banner .robot .felix:not(.active):hover + .platform {
  box-shadow: 0 0 100px #fc5, 0 0 15px #fc5 inset;
  animation: shake-pulse 0.5s linear;
}
.home_banner .robot .felix.active {
  animation: bounce-then-breathe 5s linear infinite;
}
.home_banner .robot .felix.active::before {
  opacity: 1;
}
.home_banner .robot .felix.active,
.home_banner .robot .felix.active > .eyes > .eye {
  border-color: #5fc;
  box-shadow: 0 0 5px #5fc;
}
.home_banner .robot .felix.active + .platform {
  box-shadow: 0 0 100px #5fc, 0 0 25px #5fc inset;
  animation: bounce-pulse 5s linear;
}
.home_banner .robot .felix.inactive {
  animation: deactivate 0.75s linear, breathe-and-jump 3s linear infinite;
}
.home_banner .robot .felix.inactive + .platform {
  animation: deactivate-platform 0.75s linear;
}
.home_banner .robot .command-list {
  position: absolute;
  bottom: 35px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 0;
}
.home_banner .robot .command-list > li {
  display: none;
  width: 45px;
  height: 45px;
  line-height: 37px;
  font-size: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px #fff;
  margin: 10px 12px;
  cursor: pointer;
  opacity: 0;
}
.home_banner .robot .felix.active ~ .command-list > li {
  display: inline-block;
  animation: fade-in 1s linear forwards;
}
.home_banner .robot .command-list > li:hover {
  border-color: #5cf;
  box-shadow: 0 0 5px #5cf;
}
.home_banner .robot .command-list > li:hover::before {
  box-shadow: 0 0 50px #5cf, 0 0 15px #5cf inset;
}
.home_banner .robot .command-list > li:hover > i {
  color: #5cf;
}
.home_banner .robot .command-list > li:nth-child(1) {
  transform: translateX(100px) translateY(45px);
}
.home_banner .robot .command-list > li:nth-child(1):hover ~ .hey-felix::after {
  content: "Hey Felix, how's the weather?";
}
.home_banner .robot .command-list > li:nth-child(2) {
  transform: translateX(-15px) translateY(-15px);
}
.home_banner .robot .command-list > li:nth-child(2):hover ~ .hey-felix::after {
  content: "Hey Felix, what time is it?";
}
.home_banner .robot .command-list > li:nth-child(3) {
  transform: translateX(-35px) translateY(-55px);
}
.home_banner .robot .command-list > li:nth-child(3):hover ~ .hey-felix::after {
  content: "Hey Felix, what's today?";
}
.home_banner .robot .command-list > li:nth-child(4) {
  transform: translateX(35px) translateY(-55px);
}
.home_banner .robot .command-list > li:nth-child(4):hover ~ .hey-felix::after {
  content: "Hey Felix, tell me a joke.";
}
.home_banner .robot .command-list > li:nth-child(5) {
  transform: translateX(15px) translateY(-15px);
}
.home_banner .robot .command-list > li:nth-child(5):hover ~ .hey-felix::after {
  content: "Hey Felix...";
}
.home_banner .robot .command-list > li:nth-child(6) {
  transform: translateX(-100px) translateY(45px);
}
.home_banner .robot .command-list > li:nth-child(6):hover ~ .hey-felix::after {
  content: "Hey Felix, what inspires you?";
}
.home_banner .robot .hey-felix {
  position: relative;
  transform: translateY(50px);
  margin: 0;
}
.home_banner .robot .hey-felix::after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.6666666667);
}
.home_banner .robot .response-frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
}
.home_banner .robot .response-frame.active {
  z-index: 1000;
  opacity: 1;
}
.home_banner .robot .response-frame > .lead {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}
.home_banner .robot .response-frame > .fas {
  width: 50px;
  height: 50px;
  font-size: 25px;
  line-height: 45px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px #fff, 0 0 5px #fff inset;
  transition: 0.3s linear all;
}
.home_banner .robot .response-frame > .fas:hover {
  border: 2px solid #f55;
  box-shadow: 0 0 15px #f55, 0 0 5px #f55 inset;
  color: #f55;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes breathe {
  0%,
  100% {
    height: 95px;
    transform: translateY(0);
  }
  50% {
    height: 100px;
    transform: translateY(-5px);
  }
}
@keyframes bounce-then-breathe {
  0%,
  5%,
  10%,
  15% {
    transform: translateY(0);
  }
  2.5%,
  7.5%,
  12.5% {
    transform: translateY(-15px);
  }
  20%,
  40%,
  60%,
  80%,
  100% {
    height: 95px;
    transform: translateY(0);
  }
  30%,
  50%,
  70%,
  90% {
    height: 100px;
    transform: translateY(-5px);
  }
}
@keyframes shake-pulse {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    box-shadow: 0 0 100px #fc5, 0 0 15px #fc5 inset;
  }
  10%,
  25%,
  35%,
  50%,
  65% {
    box-shadow: 0 0 115px #fc5, 0 0 15px #fc5 inset;
  }
  15%,
  30%,
  45%,
  55%,
  70% {
    box-shadow: 0 0 95px #fc5, 0 0 15px #fc5 inset;
  }
}
@keyframes bounce-pulse {
  0%,
  5%,
  10%,
  15% {
    box-shadow: 0 0 30px #5fc, 0 0 45px #5fc inset;
  }
  2.5%,
  7.5%,
  12.5% {
    box-shadow: 0 0 100px #5fc, 0 0 15px #5fc inset;
  }
  20%,
  40%,
  60%,
  80%,
  100% {
    box-shadow: 0 0 30px #5fc, 0 0 45px #5fc inset;
  }
  30%,
  50%,
  70%,
  90% {
    box-shadow: 0 0 70px #5fc, 0 0 25px #5fc inset;
  }
}
@keyframes jump-pulse {
  0%,
  40%,
  80%,
  100% {
    box-shadow: 0 0 30px #fff, 0 0 45px #fff inset;
  }
  20%,
  60%,
  70%,
  90% {
    box-shadow: 0 0 70px #fff, 0 0 25px #fff inset;
  }
  85% {
    box-shadow: 0 0 100px #fff, 0 0 15px #fff inset;
  }
}
@keyframes breathe-and-jump {
  0%,
  40%,
  80%,
  100% {
    height: 95px;
    transform: translateY(0);
  }
  20%,
  60%,
  70%,
  90% {
    height: 100px;
    transform: translateY(-5px);
  }
  85% {
    height: 85px;
    transform: translateY(-20px);
  }
}
@keyframes shake-to-alert {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: rotate(0) translateY(-5px);
  }
  10%,
  25%,
  35%,
  50%,
  65% {
    transform: rotate(5deg) translateY(-5px);
  }
  15%,
  30%,
  45%,
  55%,
  70% {
    transform: roate(-5deg) translateY(-5px);
  }
}
@keyframes blink {
  0%,
  100% {
    transform: scale(1, 0.05);
  }
  5%,
  95% {
    transform: scale(1, 1);
  }
}
@keyframes deactivate {
  0% {
    border-color: #5fc;
  }
  20%,
  60% {
    border-color: #f55;
  }
  40%,
  80%,
  100% {
    border-color: #fff;
  }
}
@keyframes deactivate-platform {
  0% {
    box-shadow: 0 0 100px #5fc, 0 0 15px #5fc inset;
  }
  40%,
  80%,
  100% {
    box-shadow: 0 0 15px #fff, 0 0 15px #fff inset;
  }
  20%,
  60% {
    box-shadow: 0 0 100px #f55, 0 0 15px #f55 inset;
  }
}
.home_banner .robot html,
.home_banner .robot body {
  background: rgb(22, 9, 56);
  background-image: linear-gradient(
    to top,
    rgb(22, 9, 56),
    rgb(24, 12, 58),
    rgb(26, 14, 60),
    rgb(27, 17, 62),
    rgb(29, 19, 64),
    rgb(31, 22, 66),
    rgb(33, 24, 67),
    rgb(35, 27, 69),
    rgb(37, 29, 71),
    rgb(38, 32, 73),
    rgb(40, 34, 75),
    rgb(42, 37, 77)
  );
  background-image: -webkit-linear-gradient(
    to top,
    rgb(22, 9, 56),
    rgb(24, 12, 58),
    rgb(26, 14, 60),
    rgb(27, 17, 62),
    rgb(29, 19, 64),
    rgb(31, 22, 66),
    rgb(33, 24, 67),
    rgb(35, 27, 69),
    rgb(37, 29, 71),
    rgb(38, 32, 73),
    rgb(40, 34, 75),
    rgb(42, 37, 77)
  );
  color: #fff;
}
.home_banner .robot * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* home banner css end */



/* iframe body{
  background-color: #18c !important;
} */
